<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<
<!--
<form action ='fileupload' method ="post" enctype="multipart/form-data">

    <input type ="text" name="mynum" id ="mynum">
    display file:<br>
    <!--<input type="file" name ="file"/> <br>
<table border="1">
    <tr>
        <th>time</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>depth</th>
        <th>mag</th>
    </tr>
    {% for i in list  %}
    <tr>
    {% for j in i  %}
        <td>{{ j }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>-->



        <br>



     <!-- <option value="{{  file }}">{{ file}}</option>-->

        <option value ="{{ i }}">{{ i }}</option>

    <!-- </select>-->
-->
</body>
</html>